@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: 'Cambria';
    src: url('Cambria-Font/Cambria-Font-For-Windows.ttf')  format('truetype');
}

.lato{
    font-family: 'Lato', sans-serif;
}
.cambria{
    font-family: 'Cambria';
}
body{
    height: 100%;
    width: 100%;
}
header {
    display: grid;
    grid-template-rows: 15vh 85vh;
}
.menu-header{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    padding: 0 2%;
    place-items: center;
    box-shadow: 0 0 50px #ccc;
}
.menu-header img{
    width: 60%;
    height: auto;
}
.menu-header ul li{
    list-style: none;
    font-family: 'Lato';
    font-size: 1.2vw;
}
.menu-header nav ul{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.carrousel{
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom : 2rem;
}
.carrousel .img-section{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.img-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.chossure{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction : row;
    gap: 1rem;
    z-index: 2;
}
.dot{
    height: 20px;
    width: 20px;
    box-shadow: 0 0 15px 5px rgb(0, 0, 0);
    border-radius: 50%;
    background-color: rgb(175, 175, 175);
}
.active-dot{
    background-color: rgb(255, 255, 255);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.desc-section{
    width: 90%;
    margin: 4rem;
}
.left{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}
.right{
    display: grid;
    grid-template-columns: 1fr 1.3fr ;
    text-align: right;
}
.desc-section img{
    width: 100%;
    height: auto;
}
.desc-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}
.desc-div p{
    font-size: 1.2rem;
    padding: 2rem 7rem;
}
.desc-div .desc-title{
    font-size: 3rem;
}

